[submodule "lib/ds-test"]
	path = lib/ds-test
	url = https://github.com/dapphub/ds-test
[submodule "lib/fiat"]
	path = lib/fiat
	url = https://github.com/fiatdao/fiat
[submodule "lib/delphi"]
	path = lib/delphi
	url = https://github.com/fiatdao/delphi
